@charset 'UTF-8';
.slick-loading .slick-list {
	background: #fff url('./ajax-loader.gif') center center no-repeat
}

@font-face {
	font-family: 'slick';
	font-weight: normal;
	font-style: normal;
	src: url('./fonts/slick.eot');
	src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
	font-display: swap
}

.slick-prev,
.slick-next {
	font-size: 0;
	line-height: 0;
	position: absolute;
	top: 50%;
	padding: 0;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
	cursor: pointer;
	color: #0065ff;
	border: 0;
	outline: 0;
	background: #fff;
	box-shadow: 0 1px 16px rgba(4, 8, 22, .1);
	width: 40px;
	height: 40px;
	border-radius: 50%;
	z-index: 1;
	display: block
}

.slick-disabled {
	opacity: 0
}

.slick-prev:before,
.slick-next:before {
	font-family: "dripicons-v2"!important;
	font-size: 20px;
	line-height: 1;
	color: #0065ff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

.slick-prev {
	left: 0
}

[dir='rtl'] .slick-prev {
	left: auto;
	right: 0
}

.slick-prev:before {
	content: "\55"
}

[dir='rtl'] .slick-prev:before {
	content: "\56"
}

.slick-next {
	right: 0
}

[dir='rtl'] .slick-next {
	right: auto;
	left: 0
}

.slick-next:before {
	content: "\56"
}

[dir='rtl'] .slick-next:before {
	content: "\55"
}

.slick-current.slick-active {
	box-shadow: 0 0 0 2px #6745ee inset;
}

.blue .slick-current.slick-active {
    box-shadow: 0 0 0 2px #1b54b4 inset;
}

.orange_gradient .slick-current.slick-active {
    box-shadow: 0 0 0 2px #fd8a0a inset;
}

.fuchsia .slick-current.slick-active {
    box-shadow: 0 0 0 2px #da55bb inset;
}

.tango .slick-current.slick-active {
    box-shadow: 0 0 0 2px #f2722c inset;
}

.greenhaze .slick-current.slick-active {
    box-shadow: 0 0 0 2px #0aa360 inset;
}

.green .slick-current.slick-active {
    box-shadow: 0 0 0 2px #08a826 inset;
}

.red .slick-current.slick-active {
    box-shadow: 0 0 0 2px #ff0500 inset;
}

.gold .slick-current.slick-active {
    box-shadow: 0 0 0 2px #ffd700 inset;
}

@media only screen and (min-width:1600px) {
	[dir='rtl'] .slick-prev,
	.slick-next {
		right: -20px
	}
	[dir='rtl'] .slick-next,
	.slick-prev {
		left: -20px
	}
}

.slick-dotted.slick-slider {
	margin-bottom: 30px
}

.slick-dots {
	position: absolute;
	bottom: -25px;
	display: block;
	width: 100%;
	padding: 0;
	margin: 0;
	list-style: none;
	text-align: center
}

.slick-dots li {
	position: relative;
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: 0 5px;
	padding: 0;
	cursor: pointer
}

.slick-dots li button {
	font-size: 0;
	line-height: 0;
	display: block;
	width: 20px;
	height: 20px;
	padding: 5px;
	cursor: pointer;
	color: transparent;
	border: 0;
	outline: 0;
	background: transparent
}

.slick-dots li button:hover,
.slick-dots li button:focus {
	outline: 0
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
	opacity: 1
}

.slick-dots li button:before {
	font-family: 'slick';
	font-size: 6px;
	line-height: 20px;
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
	height: 20px;
	content: '•';
	text-align: center;
	opacity: .25;
	color: black;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

.slick-dots li.slick-active button:before {
	opacity: .75;
	color: black
}